<% layout("/layouts/boilerplate") -%>
<div class="row">
    <h1 class="col-8 offset-2 ">User SignUp </h1>
  <div class="col-8 offset-2">
    <form action="/signup" method="post" class="needs-validation" novalidate>
     <!--  For Username  -->
        <div class="form-group mb-2">
        <label for="username" class="form-label"> Enter Username</label>
        <input
          type="text "
          name="username"
          id="username"
          placeholder="Username@12334"
          class="form-control"
          required
        />
        <div class="invalid-feedback"><strong>Error:</strong>Username must have a unique value</div>
      </div>

      <!-- For Email Signup -->
      <div class="form-group mb-2">
        <label for="email" class="form-label"> Enter Email</label>
        <input
          type="email "
          name="email"
          id="email"
          placeholder="example@gmail.com"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please Enter Valid Email </div>
      </div>
    <!-- Signup password creation -->
      <div class="form-group mb-2">
        <label for="password" class="form-label"> Enter Password </label>
        <input
          type="password"
          name="password"
          id="password"     
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please Enter a Valid Password </div>
      </div>
      <!-- button for signup -->
       <button class="btn btn-success"> SignUp</button>
    </form>
  </div>
</div>
